#image-upload-container {
  max-width: 600px;
  margin: auto;
  justify-content: center; }

#image-upload-container .file-label {
  align-items: center;
  justify-content: space-between; }

#image-upload-container .button {
  width: 316px;
  margin: auto; }

#image-upload .file-cta {
  height: 100%; }

#image-upload .file-name {
  height: 100%;
  display: flex;
  align-items: center; }

#image-upload-container #image-upload {
  justify-content: center; }

.upload-thumbnail {
  display: block;
  opacity: 0;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 2s; }

.show-upload-thumbnail {
  opacity: 1; }
