@charset "utf-8";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add color and its invert
$yellow: rgb(255, 192, 19);
$yellow-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary:$yellow;
$primary-invert: $yellow-invert;
$info: #68B0A2;


// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";
// can import only specific modules via:
// @import "../node_modules/bulma/sass/utilities/_all"
// @import "../node_modules/bulma/sass/base/_all"
// @import "../node_modules/bulma/sass/elements/_all"
// @import "../node_modules/bulma/sass/form/_all"
// @import "../node_modules/bulma/sass/components/_all"
// @import "../node_modules/bulma/sass/grid/_all"
// @import "../node_modules/bulma/sass/layout/_all"

.hero {
  &.has-background{
    background-image: url('../img/undraw_weather_app_i5sm.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
